html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main style */
body {
	background: #3f3f3f;
	min-width: 650px;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

button {
	padding: 6px;
	font-size: 18px;
	font-weight: 500;
	border-radius: 5px;
}

.button_hover:hover {
	color: #fff;

	background: #3f3f3f;
}

#user_name {
	color: #fff;
	margin-left: 16px;
	font-size: 26px;
}

header {
	background: rgb(48, 47, 47);
	display: flex;
	justify-content: space-between;
	padding: 16px;
}
section {
	background: #4f4f4f;
	min-width: 625px;
	padding: 16px;
}

[id^='button_section_rig_'] {
	margin: 16px 0;
}
[id^='button_section_rig_'] button {
	margin-right: 16px;
}
table {
	width: 100%;
	background: rgb(48, 47, 47);

	margin-top: 16px;
}
td {
	border: 1px solid #5f5f5f;
	color: #bbb;
	padding: 8px;
	text-align: center;
}
tr {
	width: 100%;
}
.modal {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.6);
	display: none;
}

.modal .modal_content {
	background-color: #3f3f3f;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	z-index: 9999;
}

.modal .modal_content .close_modal_window {
	color: #ff0000;
	font-size: 40px;
	font-weight: bolt;
	cursor: pointer;
}
.modal_inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;
	color: #888;
}
.modal_title {
	font-size: 30px;
	font-weight: bolt;
}

.rig {
	color: #888;
	font-size: 20px;
	display: flex;

	justify-content: space-between;
	padding: 8px;
}

.rig span,
.rig label {
	cursor: pointer;
}

.table_rig_miner_stats_main {
	padding: 16px;
	background-color: #3f3f3f;
	display: flex;
	justify-content: space-around;
	cursor: pointer;
	border: 1px solid #5f5f5f;
	color: #bbb;
}

.table_rig_miner_stats_main div {
	flex: 1;

	color: #888;
	padding: 8px;
	border: 1px solid #5f5f5f;
	cursor: pointer;

	text-align: center;
}

.button_more_info {
	float: right;
}
.third_page span {
	color: #888;
	font-size: 30px;
}

.blocked_message_wrapper {
	background-color: #272727;
	margin: 15% auto;

	border: 3px solid rgb(228, 91, 71);
	width: 50%;
	min-height: 100px;
}

.blocked_message_wrapper {
	display: flex;
	padding: 32px 0;
}
blocked_message_wrapper div {
	justify-content: space-between;
}
.blocked_message_wrapper span,
p {
	color: #888;
	font-size: 25px;
}
.blocked_message_wrapper p {
	color: #888;
	font-size: 20px;
}
a,
a:visited {
	color: rgb(0, 134, 255);
}

.range_section > input {
	display: block;
}

.range {
	display: inline-block;
}

.input_range {
	margin: 12px;

	display: block;
}

@keyframes glowing {
	50% {
		box-shadow: 0 0 30px 10px #fc0000;
	}
}

.range > span {
	font-size: large;
	margin-left: 12px;
	display: block;
}
.interval_toggle {
	margin-left: 20%;
	margin-bottom: 32px;
}

#chart_name {
	color: #fff;
	margin: 16px 0;
	display: block;
	text-align: center;
}
